.event{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
  &__card{
    padding: 5px 5px;
    color: white;
    box-shadow: 2px;
    background-color: rgba(188,158,91,0.5);
    flex-basis: 100%;
  }
}

