.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: center;
  height: 73%;
  color: white;
  white-space: pre-line;

  @media screen and (min-width: 600px) {
    width: 55%;
  }

  &__text {
    overflow: scroll;

    p {

    }::first-letter{
      font-size: 3rem;
    }
  }

  &__image {
    object-fit: cover;
    height: 25rem;
    width: 100%;
  }
}

.shade1 {
  top: 0;
  z-index: 100;
  position: sticky;
  width: 100%;
  height: 4rem;
  // background-color: red;
  // height: 20rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 100%,
  );
  // pointer-events: none;
  // background-size:100%;
}

.shade2 {
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 4rem;
  background-image: linear-gradient(transparent, #000);
  pointer-events: none;
}