.members {
  overflow-y: auto;
  height: 66%;
  width: 75%;

  @media screen and (max-width: 600px) {
    width: 55%;
  }

  &--left{
    justify-content: end;
  }

  &--right{
    justify-content: start;
  }
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
}

// .members__img{
//   height: 13rem;
//   display: inline-block;
//   min-width: 100px;
//   object-fit: cover;
//   filter: grayscale(1);
// }


.members-parallax {
  perspective-origin-x: 100%;
  perspective: 1px;
  height: 120vh;
  overflow-x: hidden;
  overflow-y: auto;

  &__image {
    object-fit: cover;
    height: 600px;
    width: 1300px;
    filter: grayscale(1);


  @media screen and (max-width: 600px) {
    height: 300px;
    width: 600px;
  }
  }

  &__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0, 0px) ;
  }

  &__layer {
    transform-origin-x: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--base {
      transform: translateZ(0);
    }

    &--back {
      transform: translateZ(-1px);
    }
  }
}
