.members {
  overflow-y: auto;
  height: 66%;

  &--left{
    justify-content: end;
  }

  &--right{
    justify-content: start;
  }
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  width: 37rem;
  .members__img {
    object-fit: cover;
    filter: grayscale(1);
    width: 50%;
  }
  .members__text{
    display: inline-block;
    width: 50%;
    color: white;
    font-size: 14px;
    line-height: unset;
  }
  // p {
  //   all: unset;
  // }


}

.members__img{
  display: inline-block;
  min-width: 100px;
  object-fit: cover;
  filter: grayscale(1);
}


.parallax {
  perspective: 1px;
  height: 100vh;
  -webkit-perspective-origin-x: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

// .parallax__group--left {
//   z-index: 2;
//   display: flex;
//   width: 100%;
//   // height: 500px;
//   height: 100vh;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;

//   .parallax__layer {
//     color: white;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
//   .parallax__layer--base {
//     width: 53%;
//     text-shadow: 2px 2px #000000;
//     padding: 49vh;
//     // width: 65%;
//     // transform: translateZ(0) scale(1);
//   }
//   .parallax__layer--back {
//     // padding: 1vh 0;
//     // width: 100%;
//     // width: 30%;
//     // -webkit-perspective-origin-x: 0%;

//     transform: translate(-80%, -3%) translateZ(-1px);
//   }
// }

// .parallax__group--right {
//   position: relative;
//   display: flex;
//   width: 100%;
//   justify-content: end;
//   height: 500px;
//   height: 100vh;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;

//   .parallax__layer {
//     color: white;
//     position: absolute;
//     top: -200px;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
//   .parallax__layer--base {
//     text-align: right;
//     text-shadow: 2px 2px #000000;
//     padding: 100vh 0;
//     width: 75%;
//     transform: translate(33%, -17%)  translateZ(0) scale(1);
//   }
//   .parallax__layer--back {
//     // padding: 1vh 0;
//     // width: 50%;
//     -webkit-perspective-origin-x: 0%;
//     transform: translateZ(-1px);
//   }
// }
