.repertoire {
  display: flex;


  &__track-logo{
    width: 100px;
    height: 100px;
  }
}

.test {
  stroke-width: 12;
  animation: letter-animation 5s linear forwards;
  // animation-delay: 2.7s;
  stroke-dasharray: 2600;
  // stroke-dashoffset: 2500;
  // animation: dash 5s linear alternate infinite;
  &--flip {
    transform-origin: center;
    transform: scale(-1,1);
  }
}

@keyframes letter-animation {
  0% {
      stroke-dashoffset: 0;
  }
  100% {
      stroke-dashoffset: 2600;
  }
}

// @keyframes dash {
//   from {
//     stroke-dashoffset: 2500;
//   }
//   to {
//     stroke-dashoffset: 100;
//   }
// }