.header{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  ul {
    list-style-type: none;
    li {
      margin-right: 5px;
    }
  }

  &__logo{
    display: flex;
    justify-content: center;
    img{
      width: 200px
    }
  }
}