@import "./main/header";
@import "./main/events";
@import "./main/home";
@import "./shared";
@import "./admin/repertoire";
@import "./main/repertoire";
@import "./main/members";
@import "./main/social";
@import "./login";

// second color: BC965B
// @import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.global-container{
  // overflow-x:hidden;
  overflow: scroll;
  overflow-x: hidden;
  background-color: black;
  scrollbar-width: thin;
  scrollbar-color: black black;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

html {
  background-color: black;
  margin: 0;
  --top-spacing: 50px;
}

body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: '';
  font-size: 20px;
}

html, body, .global-container, #root {
  height: 100%;
  font-family: 'Lato', sans-serif;
}



// html {
//   --scrollbarBG: #CFD8DC;
//   --thumbBG: #90A4AE;
// }
// body::-webkit-scrollbar {
//   width: 11px;
// }
// body {
//   scrollbar-width: thin;
//   scrollbar-color: var(--thumbBG) var(--scrollbarBG);
// }
// body::-webkit-scrollbar-track {
//   background: var(--scrollbarBG);
// }
// body::-webkit-scrollbar-thumb {
//   background-color: var(--thumbBG) ;
//   border-radius: 6px;
//   border: 3px solid var(--scrollbarBG);
// }


// html {
//   background: lightgrey;
//   height: 100%;
//   overflow: hidden;
// }
// body {
//   height: 100%;
//   background: whitesmoke;
//   overflow: scroll;
//   max-width: 250px;
//   margin: 0 auto;
//   padding: 3em;
//   font: 100%/1.4 serif;
//   border: 1px solid rgba(0, 0, 0, 0.25)
// }
// p {
//   margin: 0 0 1.5em;
// }
