@import "./main/header";
@import "./main/events";
@import "./main/home";
@import "./shared";
@import "./admin/repertoire";
@import "./main/repertoire";
@import "./login";

// second color: BC965B
// @import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.global-container{
  overflow-x:hidden;
  background-color: black
}

html {
  overflow-x:hidden;
  // font-family: 'Great Vibes', cursive;
  background-color: black;

  margin: 0;
  --top-spacing: 50px;
}

body {
  overflow-x:hidden;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: '';
}

html, body, .global-container, #root {
  height: 100%;
  overflow-x:hidden;
}

.content-container{
  // position: relative;
  overflow-x:hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 240px;
}