@import "./header";
@import "./events";
@import "./home";

// second color: BC965B

.global-container{
  // left: 0;
  // top: 0;
  background-color: black
}

html {
  background-color: black;
  margin: 0;
  --top-spacing: 50px;
}

body {
  margin: 0;
  padding: 0;
}