.repetoire-card{
  display: flex;
  justify-content: space-around;
  padding: 5px 5px;
  color: white;
  box-shadow: 2px;
  background-color: rgba(188,158,91,0.5);
  flex-basis: 100%;
}

.repetoire-modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  color: white;
  input, textarea {
    width: 75%;
    color: black
  }
}

